@import url('./color.css');
@import url('./styles.css');
*


body {
    background-color: rebeccapurple;
}

main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(9, 5rem);
    grid-template-rows: repeat(3, 5rem);
    gap: 5px;
    align-self: center;
}

.teclado div {
    background-color: rgba(183, 0, 255, 0.782);
    -webkit-box-shadow: rebeccapurple;
    -moz-box-shadow: rgb(128, 0, 255);
    box-shadow: rgb(128, 0, 255);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;


}

.teclado div:hover{
    transform: scale(1,01);

}

.img-forca{
    align-self: center;
    justify-self: center;
}

.jogo-config{
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px rgb(157, 0, 255);
    padding: 10px;
    gap: 5px;
}

.jogo-config input{
    color: white;
    text-align: center;
}

.botao-iniciar{
    color: white;
    height: 2rem;
    background-color: rgba(157, 0, 255, 0.821);
    margin-top: 1rem;
    font-weight:bold;
    font-size: 1.5rem;
    cursor: pointer;
    
}

.jogo-saida{
    align-self: center;
    justify-self: center;
}


.navegacao {
    display: flex;
}

.navegacao * {
    font-size: 2rem;
    margin-left: 15px;
    color: #fff;

}

.navegacao *:hover {
    color: #070F2B;
    transform: scale(0.8);

}

.navegacao a:nth-child(1) {
    text-decoration: underline;

}




